<!DOCTYPE html>
<html>
  <head>
    <title>Decreation</title>
    <meta name='description' content='DECREATION is independent design studio specializing in graphic and digital solutions across multiple media.  It works to develop novel solutions for a wide range of clients. It is located on the internet and operated by Dougal Henken.'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="apple-touch-icon" sizes="180x180" href="<%= image_path('apple-touch-icon.png') %>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= image_path('favicon-32x32.png') %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= image_path('favicon-16x16.png') %>">
    <link rel="manifest" href="<%= image_path('site.webmanifest') %>">
    <link rel="mask-icon" href="<%= image_path('safari-pinned-tab.svg') %>" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag comfy_cms_render_css_path(@cms_site.id, @cms_layout.identifier) %>
	  <%= javascript_include_tag comfy_cms_render_js_path(@cms_site.id, @cms_layout.identifier) %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
